---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { PreactSelfFetchingPaginatedSequenceList } from '../../components/PreactSelfFetchingPaginatedSequenceList';
import { fetchNumberSequences } from '../../api';

const numberSequences = await fetchNumberSequences();
---

<BaseLayout title="Sequences">
  <!-- The number of sequences is quick to load and will be rendered on the server side -->
  Number sequences: {numberSequences}

  <!-- Loading the full sequence list takes time and will be done on the client side -->
  <div><PreactSelfFetchingPaginatedSequenceList client:load /></div>
</BaseLayout>
