---
import { Sequence } from '../types';
interface Props {
  sequences: Sequence[];
}

const { sequences } = Astro.props;
---

<astro-greet data-message={JSON.stringify(sequences)}>
  <button class="previous">previous</button>
  <button class="next">next</button>
  <ul></ul>
</astro-greet>

<script>
  class AstroGreet extends HTMLElement {
    constructor() {
      super();

      // Read the message from the data attribute.
      const message = JSON.parse(this.dataset.message);
      console.log(message);

      let page = 0;

      const buttonPrev = this.getElementsByClassName('previous').item(0);
      buttonPrev.addEventListener('click', () => {
        page--;
        render();
      });

      const buttonNext = this.getElementsByClassName('next').item(0);
      buttonNext.addEventListener('click', () => {
        page++;
        render();
      });

      const list = this.querySelector('ul');
      const render = () => {
        const offset = 100 * page;
        const displayData = message.slice(offset, offset + 100);
        list.innerHTML = '';
        for (let d of displayData) {
          const li = document.createElement('li');
          li.innerHTML = d.genbankAccession;
          list.appendChild(li);
        }
      };

      render();
    }
  }

  customElements.define('astro-greet', AstroGreet);
</script>
